Source: latte-dock
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Scarlett Moore <sgmoore@kde.org>
Build-Depends: cmake (>= 3.1~),
               debhelper-compat (= 13),
               extra-cmake-modules (>= 5.38.0~),
               gettext,
               libkf5activities-dev (>= 5.38.0~),
               libkf5archive-dev (>= 5.38.0~),
               libkf5coreaddons-dev (>= 5.62.0~),
               libkf5crash-dev (>= 5.38.0~),
               libkf5dbusaddons-dev (>= 5.38.0~),
               libkf5declarative-dev (>= 5.38.0~),
               libkf5globalaccel-dev (>= 5.38.0~),
               libkf5guiaddons-dev (>= 5.38.0~),
               libkf5i18n-dev (>= 5.38.0~),
               libkf5iconthemes-dev (>= 5.38.0~),
               libkf5newstuff-dev (>= 5.38.0~),
               libkf5notifications-dev (>= 5.38.0~),
               libkf5plasma-dev (>= 5.38.0~),
               libkf5wayland-dev (>= 5.38.0~),
               libkf5windowsystem-dev (>= 5.38.0~),
               libkf5xmlgui-dev (>= 5.38.0~),
               libqt5x11extras5-dev (>= 5.9.0~),
               libsm-dev,
               libx11-xcb-dev,
               libxcb-randr0-dev,
               libxcb-util0-dev,
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.9.0~),
               qtdeclarative5-dev (>= 5.9.0~),
Standards-Version: 4.5.0
Homepage: https://userbase.kde.org/LatteDock
Vcs-Browser: https://salsa.debian.org/qt-kde-team/extras/latte-dock
Vcs-Git: https://salsa.debian.org/qt-kde-team/extras/latte-dock.git
Rules-Requires-Root: no

Package: latte-dock
Architecture: any
Depends: plasma-desktop,
         plasma-framework,
         qml-module-org-kde-kquickcontrolsaddons,
         qml-module-qtgraphicaleffects,
         qml-module-qtquick-controls,
         qml-module-qtquick-controls2,
         qml-module-qtquick-layouts,
         qml-module-qtquick2,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Dock based on plasma frameworks
 Latte is a dock based on plasma frameworks that provides an elegant and
 intuitive experience for your tasks and plasmoids. It animates it's
 contents by using parabolic zoom effect and tries to be there only when
 it is needed.
