#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow
export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --with kf5

override_dh_auto_install:
	dh_auto_install
	rm -f $(CURDIR)/debian/latte-dock/usr/share/plasma/plasmoids/org.kde.latte.containment/contents/icons/COPYING
	rm -f $(CURDIR)/debian/latte-dock/usr/share/plasma/shells/org.kde.latte.shell/contents/images/COPYING
